.config/musikcube/plugin_*.json
.config/musikcube/*.txt
.config/musikcube/session.json
.config/musikcube/playback.json
.config/musikcube/1
.config/gtk-4.0/gtk.css
.config/gtk-3.0/gtk.css
.config/gtk-3.0/bookmarks
