[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Rubén A
	email = sortexjuegos@gmail.com
[pull]
	rebase = true
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
